.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* table {
  width: 100%;
    text-align: left;
    clear: both;

    display: block;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
} */
table,
    th,
    td {
        
        /* Styling the border. */
        /* border: 1.5px solid blue; */
        /* width: 100%; */
        border-left: 1.5px solid blue;
        border-right: 1.5px solid blue;
        /* width: 25px; */
    }
table{
  /* width: 100%; */
  border: 1.5px solid blue;
}
th, td{
  width: 100px;
  font-size: small;
}